<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=0"/>
    <link rel="stylesheet" href="styling/main.css">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&family=Raleway&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/558b08b205.js" crossorigin="anonymous"></script>
    <title>Our products</title>
</head>
<body>
<div class="header">
    <ul class="nav-bar">
        <div class="nav-bar--left">
            <a href="/"><li class="nav-item" id="about-us">About us</li></a>
            <a href="/products"><li class="nav-item" id="products">Products</li></a>
            <a href="/contact"><li class="nav-item" id="contact-us">Contact us</li></a>

        </div>
        <div class="nav-bar--right">

        </div>
    </ul>
</div>

<h1 class="heading-1">Our products</h1>
<div class="products">
    <img class="product-image" src="../images/steeringwheel.JPG" alt="Our founder, Happyface">
    <p class="paragraph">
        We are delighted to present our flagship product, the Happyface nautical steering wheel, combining cutting edge
        design with a dose of happiness.
    </p>
</div>

    <h2 class="heading-2">Specifications</h2>

    <div class="specifications-grid">
        <div class="specification-item">
            <div class="specification-item--img">
                <i class="fas fa-tree"></i>
            </div>
            <h4 class="specification-item--title">
                Made of solid oak
            </h4>
            <p class="specification-item--description">
                The nautical wheel is constructed from English oak. Just imagine the beauty as it reflects the last rays
                of sun on a beautiful summer day!
            </p>
        </div>

        <div class="specification-item">
            <div class="specification-item--img">
                <i class="fas fa-wrench"></i>
            </div>
            <h4 class="specification-item--title">
                Durable construction
            </h4>
            <p class="specification-item--description">
                The solid oak construction means that the Happyface nautical steering wheel will last a lifetime -
                no more shopping for a new wheel every few years!
            </p>
        </div>

        <div class="specification-item">
            <div class="specification-item--img">
                <i class="far fa-laugh-squint"></i>
            </div>
            <h4 class="specification-item--title">
                Sure to bring happiness
            </h4>
            <p class="specification-item--description">
                Studies have shown that using the Happyface nautical wheel is sure to bring joy - even in choppy waters.
            </p>
        </div>

        <div class="specification-item">
            <div class="specification-item--img">
                <i class="fas fa-ruler-combined"></i>
            </div>
            <h4 class="specification-item--title">
                Cutting edge design
            </h4>
            <p class="specification-item--description">
                Designed by the Happyface in collaboration with renowned artist Doggubby, the Happyface nautical wheel
                is sure to get heads turning.
            </p>
        </div>

        <div class="specification-item">
            <div class="specification-item--img">
                <i class="fas fa-coins"></i>
            </div>
            <h4 class="specification-item--title">
                Great value
            </h4>
            <p class="specification-item--description">
                At only £489.99, the Happyface steering wheel is truly excellent value. You will not find more wheel
                for your money anywhere else.
            </p>
        </div>

        <div class="specification-item">
            <div class="specification-item--img">
                <i class="far fa-compass"></i>
            </div>
            <h4 class="specification-item--title">
                Range of accessories
            </h4>
            <p class="specification-item--description">
                The Happyface nautical steering wheel is compatible with a large range of accessories to add comfort and
                convenience to your journey, including drink holders and navigation aids.
            </p>
        </div>


    </div>

<script type="module" src="/javascript/products.js"></script>
</body>
</html>